@use "./assets/sass/abstracts" as *;
@use "./assets/sass/styles/reset";
@use "./assets/sass/layout/header";
@use "./assets/sass/styles/backgrounds";
@use "./assets/sass/layout/footer.scss";

html {
  scroll-behavior: smooth;
}
body {
  background-color: transparent;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
nav, .navlinks-container {
  transition: 0.5s;
}
nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
  z-index: 99;
}
.nav-logo {
  display: none;
}
.backdrop-transitioning {
  backdrop-filter: none;
  z-index: -10;
}
.navlinks-container {
  position: absolute;  
  background: linear-gradient(to bottom, rgb(37, 44, 126), rgb(54, 54, 54));
  font-size: 1.3rem;
  width: 90%;
  height: 90%;
  color: $offwhite;
  z-index: -10;
}
.navlinks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75%;
}
.yellow {
  color: $yellow;
}
.fullyellow {
  color: $yellow;
  border: 2px solid $yellow;
  padding: 2px 5px; 
}
.number {
  display: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.nav, li {
  margin-top: 20px;
}
.nav-transitioning {
  transform: translateY(-100vh);
}
.hidden {
  display: none;
  position: absolute;
}
.menu-toggle, .menu-close {
  position: absolute;
  color: $offwhite;
  z-index: 20;
}
.menu-toggle {
  position: fixed;
  top: 30px;
  right: 5%;
  font-size: 30px;
  padding: 10px;
  background-color: rgba(16, 16, 70, 0.425);
}
.menu-close {
  top: calc(5vh + 25px);
  right: calc(5vw + 5%);
  font-size: 30px;
}
a {
  color: $offwhite;
  transition: box-shadow 0.3s;
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  align-items: center;
  z-index: 10;
}
.background {
  background-image: linear-gradient(to bottom, rgba(0, .6,.6, .9), rgba(0,.2,.2,.5)), url("./assets/images/refineria1.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      padding-top: 300px; 
      h1 {
          color: $offwhite;
          font-family: $font-title;
          font-size: 2rem;
          margin-right: 10%;
          margin-bottom: 100px;
          text-transform: uppercase;
      }
      p {
          color: $offwhite;
          font-family: $font-title;
          font-size: 1.5rem;
      }
    }
.flex-container {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}
.section2 {
    display: flex;
    
  }
 .section2, p {
    margin: 0px;
    
  }
#title1 {
  color: $offwhite;
  margin-top: 60px;
  margin: 40px;
}

#title2 {
    color: $grissolve;
    font-size: 20px;
    margin: 5px;
    padding-top: 15px;
    background-color: $whitepure;
    margin: 0;
    font-family: $font-title;
    text-align: center;
    .bold {
      font-weight: bold;
      color: black
    }
}
.color1 {
    color: transparent;
    font-size: 40px;
    font-weight: bold; 
    -webkit-text-stroke: 1px $yellow; 
      
}

.logo {
  width: 250px;
  
}

//*section2*//
.content1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: rgba(16, 16, 70, 0.425);
        padding: 100px;
      }
      .item1 {
        color: $whitepure;
        font-family: $font-title;
        font-size: 1.5rem;
        text-align: center;
        margin: 15px;
        padding: 20px;
        line-height: 1.5em;
        transition: max-height 0.5s ease;
        overflow: hidden;
        backdrop-filter: blur(3px);
      }
      .item1.show {
        max-height: 400px;
      }
  
      h2 {
        text-align: center;
        color: $whitepure;
        margin-top: 30px;
        font-family: $font-title;
        font-size: 2rem;
      }
.speaker-btn {
  max-width: 400px;
  font-size: 1em;
  color: $darkblack;
  background-color: $yellow;
  padding: 10px;
  border-radius: 40px;
  font-family: $font-title;
  transition: 0.2s;
  cursor: pointer;
}
.speaker-btn i {
  color: #ec5342;
}
.speaker-btn:hover {
  background-color: #d3d3d3;
}
.content-down {
  position: relative;
  color: $grissolve;
  font-size: 1.5em;
  align-items: center;
  text-align: center;
  margin: 40px;
  line-height: 1.5em;
  word-spacing: 0.25em;
  font-family: $font-text;
}
//*section3*//
.section-oil {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: rgba(16, 16, 70, 0.425);
  backdrop-filter: blur(5px);
  gap: 30px;
  margin: 40px;
}
.item2 {
margin: 0px;
color: $offwhite;
font-size: 1.2em;
font-family: $font-text;
}
.item3 {
margin: 0px;
color: $offwhite;
font-size: 1.2em;
padding-top: 20px;
font-family: $font-text;
}
.b2 {
margin-left: 0px;
color: $yellow;
font-family: $font-title;
text-align: center;
}
.bottom-secundary > a {
  font-size: 20px;
  color: $darkblack;
  background-color: $yellow;
  padding: 10px;
  border-radius: 40px;
  font-family: $font-title;
}
.bottom-secundary {
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
}
/* section4 */
#about-content {
  background: linear-gradient(to bottom, rgba(0,0,0,.0), rgba(0,.9,.9,.9));
  background-color: $darkblue;
}
.mision, .vision {
  display: flex;
  flex-direction: column;
  justify-content: center;

    div {
      display: flex;
      align-items: center;
      gap: 20px;
    }
}
 h4 {
 align-items: center;
 text-align: center;
 font-size: 2em;
 font-family: $font-title;
 color: $offwhite;
}
.misiontext {
  font-size: 1.3em;
  font-family: $font-text;
  padding-bottom: 30px;
  color: $offwhite;
  margin-left: 30px;
  margin-right: 30px;
}
#icon {
  aspect-ratio: 1;
  color: $yellow;
  font-size: 30px;
  margin-left: 70px;
  background-color: rgba(109, 109, 141, 0.1);
  border-radius: 50%;
  padding: 25px;
}
/*caorusel*/
.categories {
  position: relative;
  background-color: $solveblue;
}

.carousel {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.arrow-left, .arrow-right {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 25px;
  height: 100%;
  z-index: 99;
}

.arrow-left {
  left: 2%;
  color: $darkblue;
}

.arrow-right {
  right: 2%;
  color: $darkblue;
}

.carousel-frame {
  display: flex;
  width: 600%;
}

.carousel-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: calc(100% / 6);
  min-height: 500px;
  padding: 0px 2%;
  scroll-snap-align: start;
}

.carousel-element img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.carr-pos-1 {
  transform: translateX(0);
}

.carr-pos-2 {
  transform: translateX(calc(-100% / 6));
}
.carr-pos-3 {
  transform: translateX(calc(-100% * 2 / 6));
}
.carr-pos-4 {
  transform: translateX(calc(-100% * 3 / 6));
}
.carr-pos-5 {
  transform: translateX(calc(-100% * 4 / 6));
}
.carr-pos-6 {
  transform: translateX(calc(-100% * 5 / 6));
}
//section 5
.content-section {
  background-color: $darkblue;
  color: $grisfooter;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  font-size: 1.2em;
  word-spacing: 0.15em;
  line-height: 1.5em;
  font-family: $font-text;
}
.letter {
  justify-content: space-around;
  padding: 1px;
}

.contact-title {
  color: $whitepure;
  font-size: 1.2em;
  padding-top: 25px;
  padding-bottom: 25px;
}
.contact-details {
  font-size: 30px;
  color: $grissolve;
  margin-left: 10px;
}
footer {
  background-color: $bluestrong;
  padding: 20px;
}
.content-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7em;
  .copy {
    color: $grissolve;
  }
  .content-politic {
    color: $grissolve;
  }
}
.info {
  margin-bottom: 35px;
}
.dotsContainer {
  position: absolute;
  bottom: 5px;
  z-index: 3;
  left: 50%;
  transform: translate(-50%);
}
.dotsContainer .dot {
  width: 10px;
  height: 10px;
  margin: 30px 2px;
  border: 3px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dotsContainer .active {
  background-color: $yellow;
}
.whatsapp-btn {
  position: fixed;
  bottom: 80px;
  right: 20px;
  font-size: 50px;
  animation: vibrate 7s;
}
@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-7px);
  }
  50% {
    transform: translateX(7px);
  }
  75% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(0);
  }
}
  @include media(1024px)  {
    
    nav, .backdrop-transitioning {
      justify-content: flex-end;
      backdrop-filter: none;
      width: 100%;
      height: 150px;
    }
    header {
      display: none;
    }
    .background {
          padding-top: 300px;
        }
    .navlinks{
      justify-content: space-evenly;
      flex-direction: row;
      letter-spacing: 2px;
      font-size: 1.5rem;
      height: 100%;
      margin-right: 5%;
    }
    .nav, li {
      margin-right: 100px;
    }
    .number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
    
    }
  h1 {
      margin-top: 50px;
  }
    .nav-transitioning {
      transform: none;
    }
    .hidden {
      position: absolute;
      display: flex;
    }
    
    .menu-toggle, .menu-close {
      display: none;
    }
    .navlinks-container {
      justify-content: flex-end;
      background-color: transparent;
      background: none;
      .fa-solid {
        position: absolute;
        color: $yellow;
      }
    }
  
    .logo {
      height: 0px;
      aspect-ratio: 1;
      margin-left: 0px;
      display: flex;
    }
    .logo2 {
      width: 200px;
      margin-right: 400px;
      margin-bottom: -20px;
    }
    .nav-logo {
      display: block;
      margin-top: 0;
      margin-right: auto;
    }
    .nav-logo img {
      display: block;
      width: 100%;
    }
    
    .number2 {
      margin-left: 30px;
    }
    .container {
      margin: auto;
      height: auto;
      #zise {
        font-size: 3em;
        padding-right: 30%;
        padding-bottom: 15%;
      }
    }
    #title2 {
      color: $grissolve;
      font-size: 30px;
      padding: 125px;
      background-color: $whitepure;
      font-family: $font-title;
      word-spacing: 0.25em;
    }
    #jumbotrom {
      height: 170%;
    }
    #title1 {
      font-size: 80px;
      .color1 {
       font-size: 150%;
       padding-left: 100px;
       margin-right: 130px;
      }
    }
  .content1 {
    padding: 150px;
    h2 {
      font-size: 3.5em;
    }
    p {
      font-size: 1.5em;
      padding-left: 150px;
      padding-right: 150px;
    }
  }
  .content-down {
    font-size: 1.5em;
    padding-left: 150px;
    padding-right: 150px;
  }
  #back2 {
    padding-left: 170px;
    padding-right: 60%;
  }
  .about {
    display: flex;
    padding: 100px;
     .about-title {
      font-size: 2em; 
     }
     .about-text {
      font-size: 1.3em;
      padding-left: 50px;
      padding-right: 50px;
      text-align: justify;
    }
  }
  //carousel
  .carousel {
    overflow: hidden;
  }
  .arrow-left, .arrow-right {
    padding: 15px;
    font-size: 55px;
    height: 100%;
    z-index: 4;
    cursor: pointer;
  }
  
  .arrow-left {
    left: 5%;
    color: $darkblue;
    margin-top: 280px;
    width: 50px;
    height: 100px;
  }
  
  .arrow-right {
    right: 5%;
    color: $darkblue;
    margin-top: 280px;
    width: 50px;
    height: 100px;
  }
  .arrow-right:hover {
    background-color: $bluemedium;
    opacity: 0.5;
    color: white;
    transition: 0.7s;
  }
  .arrow-left:hover {
    background-color: $bluemedium;
    opacity: 0.5;
    color: white;
    transition: 0.7s;
  }
  .carousel-frame {
    display: flex;
    width: 650%;
  }
  
  .carousel-element {
    display: flex;
    padding: 0px 2%;
    margin-right: 100px;
  }
  .carousel-element img {
    display: block;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 70%;
    margin: 0 auto;
    
  }
  .carr-pos-1 {
    transform: translateX(0);
  }
  
  .carr-pos-2 {
    transform: translateX(calc(-100% / 6));
  }
  .carr-pos-3 {
    transform: translateX(calc(-100% * 2 / 6));
  }
  .carr-pos-4 {
    transform: translateX(calc(-100% * 3 / 6));
  }
  .carr-pos-5 {
    transform: translateX(calc(-100% * 4 / 6));
  }
  .carr-pos-6 {
    transform: translateX(calc(-100% * 5 / 6));
  }
  .dotsContainer {
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translate(-50%);
  }
  .dotsContainer .dot {
    width: 25px;
    height: 25px;
    margin: 30px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dotsContainer .active {
    background-color: $yellow;
  }
//mision vision
  
  #about-content {
    display: flex;
    flex-direction: row;
    padding: 100px;
  }
  .mision, .vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    div {
      display: flex;
      align-items: center;
      gap: 20px;
      text-align: center;
      justify-content: center;
    }
  }
  h4 {
    font-size: 2.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 40px;
   }  
  .misiontext {
    text-align: center;
  }

  //footer
  .content-section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }
  .textsection {
    padding-left: 150px;
    padding-right: 150px;
    text-align: left;
  }

.contact-title, a {
  color: $grisfooter;
}
.contact {
  padding-top: 9px;
  text-align: left;
}
.copy, .content-politic {
  font-size: 2em;
  padding-left: 155px;
}

.contact-link {
  padding-right: 50px;
}
    .whatsapp-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
    }
    .whatsapp-btn {
      width: 60px;
      height: 150px;
      border-radius: 50%;
      font-size: 70px;
    }
    .item1 {
      transition: max-height 0.5s ease;
      overflow: hidden;
    }
    .item1.show {
      max-height: 500px;
    }
.speaker-btn {
max-width: 400px;
transition: 0.6s;
cursor: pointer;
}
.speaker-btn i {
color: #ec5342;
}
.speaker-btn:hover {
background-color: #d3d3d3;
}
  }
 
  