* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.logo {
  width: 40%;
  max-width: 250px;
  margin: auto;
  margin-bottom: 170px;
}

.logo img {
  display: block;
  width: 100%;
}

#back {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%), url("./assets/images/world.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-left: 40px;
  padding-right: 60px;
}

#back2 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("./assets/images/petroleo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 120px;
}

.logo2 {
  width: 200px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: transparent;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

nav, .navlinks-container {
  transition: 0.5s;
}

nav {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.nav-logo {
  display: none;
}

.backdrop-transitioning {
  backdrop-filter: none;
}

.navlinks-container {
  position: absolute;
  background: linear-gradient(to bottom, rgb(37, 44, 126), rgb(54, 54, 54));
  font-size: 1.3rem;
  width: 90%;
  height: 90%;
  color: #eee8d6;
}

.navlinks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75%;
}

.yellow {
  color: #FFBA1F;
}

.fullyellow {
  color: #FFBA1F;
  border: 2px solid #FFBA1F;
  padding: 2px 5px;
}

.number {
  display: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav, li {
  margin-top: 20px;
}

.nav-transitioning {
  transform: translateY(-100vh);
  z-index: 20;
}

.hidden {
  display: none;
  position: absolute;
}

.menu-toggle, .menu-close {
  position: absolute;
  color: #eee8d6;
}

.menu-toggle {
  position: fixed;
  top: 30px;
  right: 5%;
  font-size: 30px;
  padding: 10px;
  background-color: rgba(16, 16, 70, 0.425);
}

.menu-close {
  top: calc(5vh + 25px);
  right: calc(5vw + 5%);
  font-size: 30px;
}

a {
  color: #eee8d6;
  transition: box-shadow 0.3s;
}

.background {
  background-image: linear-gradient(to bottom, rgba(0, 1, 1, 0.9), rgba(0, 0, 0, 0.5)), url("./assets/images/refineria1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 300px;
}
.background h1 {
  color: #eee8d6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-right: 10%;
  margin-bottom: 100px;
  text-transform: uppercase;
}
.background p {
  color: #eee8d6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}

.section2 {
  display: flex;
}

.section2, p {
  margin: 0px;
}

#title1 {
  color: #eee8d6;
  margin-top: 60px;
  margin: 40px;
}

#title2 {
  color: rgb(128, 128, 128);
  font-size: 20px;
  margin: 5px;
  padding-top: 15px;
  background-color: #ffffff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#title2 .bold {
  font-weight: bold;
  color: black;
}

.color1 {
  color: transparent;
  font-size: 40px;
  font-weight: bold;
  -webkit-text-stroke: 1px #FFBA1F;
}

.logo {
  width: 250px;
}

.content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(16, 16, 70, 0.425);
  padding: 100px;
}

.item1 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 15px;
  padding: 20px;
  line-height: 1.5em;
}

h2 {
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.bottom-primary > a {
  font-size: 20px;
  color: #1D1E21;
  background-color: #FFBA1F;
  padding: 10px;
  border-radius: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.bottom-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  margin-right: 35px;
}

.content-down {
  position: relative;
  color: rgb(128, 128, 128);
  font-size: 1.5em;
  align-items: center;
  text-align: center;
  margin: 40px;
  line-height: 1.5em;
  word-spacing: 0.25em;
  font-family: "Roboto", sans-serif;
}

.section-oil {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: rgba(16, 16, 70, 0.425);
  backdrop-filter: blur(5px);
  gap: 30px;
  margin: 40px;
}

.item2 {
  margin: 0px;
  color: #eee8d6;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
}

.item3 {
  margin: 0px;
  color: #eee8d6;
  font-size: 1.2em;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
}

.b2 {
  margin-left: 0px;
  color: #FFBA1F;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.bottom-secundary > a {
  font-size: 20px;
  color: #1D1E21;
  background-color: #FFBA1F;
  padding: 10px;
  border-radius: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.bottom-secundary {
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
}

/* section4 */
#about-content {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 1, 1, 0.9));
  background-color: #091F44;
}

.mision, .vision {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mision div, .vision div {
  display: flex;
  align-items: center;
  gap: 20px;
}

h4 {
  align-items: center;
  text-align: center;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #eee8d6;
}

.misiontext {
  font-size: 1.3em;
  font-family: "Roboto", sans-serif;
  padding-bottom: 30px;
  color: #eee8d6;
  margin-left: 30px;
  margin-right: 30px;
}

#icon {
  aspect-ratio: 1;
  color: #FFBA1F;
  font-size: 30px;
  margin-left: 70px;
  background-color: rgba(109, 109, 141, 0.1);
  border-radius: 50%;
  padding: 25px;
}

/*caorusel*/
.categories {
  position: relative;
  background-color: #eaf1f3;
}

.carousel {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.arrow-left, .arrow-right {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 25px;
  height: 100%;
  z-index: 99;
}

.arrow-left {
  left: 2%;
  color: #091F44;
}

.arrow-right {
  right: 2%;
  color: #091F44;
}

.carousel-frame {
  display: flex;
  width: 600%;
}

.carousel-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 16.6666666667%;
  min-height: 500px;
  padding: 0px 2%;
  scroll-snap-align: start;
}

.carousel-element img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.carr-pos-1 {
  transform: translateX(0);
}

.carr-pos-2 {
  transform: translateX(-16.6666666667%);
}

.carr-pos-3 {
  transform: translateX(-33.3333333333%);
}

.carr-pos-4 {
  transform: translateX(-50%);
}

.carr-pos-5 {
  transform: translateX(-66.6666666667%);
}

.carr-pos-6 {
  transform: translateX(-83.3333333333%);
}

.content-section {
  background-color: #091F44;
  color: rgb(194, 193, 193);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  font-size: 1.2em;
  word-spacing: 0.15em;
  line-height: 1.5em;
  font-family: "Roboto", sans-serif;
}

.letter {
  justify-content: space-around;
  padding: 1px;
}

.contact-title {
  color: #ffffff;
  font-size: 1.2em;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contact-details {
  font-size: 30px;
  color: rgb(128, 128, 128);
  margin-left: 10px;
}

footer {
  background-color: #020f25;
  padding: 20px;
}

.content-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7em;
}
.content-footer .copy {
  color: rgb(128, 128, 128);
}
.content-footer .content-politic {
  color: rgb(128, 128, 128);
}

.info {
  margin-bottom: 35px;
}

.dotsContainer {
  position: absolute;
  bottom: 5px;
  z-index: 3;
  left: 50%;
  transform: translate(-50%);
}

.dotsContainer .dot {
  width: 10px;
  height: 10px;
  margin: 30px 2px;
  border: 3px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotsContainer .active {
  background-color: #FFBA1F;
}

.whatsapp-btn {
  position: fixed;
  bottom: 80px;
  right: 20px;
  font-size: 50px;
  animation: vibrate 7s;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-7px);
  }
  50% {
    transform: translateX(7px);
  }
  75% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(0);
  }
}
@media only screen and (width > 1024px) {
  nav, .backdrop-transitioning {
    justify-content: flex-end;
    backdrop-filter: none;
    width: 100%;
    height: 150px;
  }
  header {
    display: none;
  }
  .background {
    padding-top: 300px;
  }
  .navlinks {
    justify-content: space-evenly;
    flex-direction: row;
    letter-spacing: 2px;
    font-size: 1.5rem;
    height: 100%;
    margin-right: 5%;
  }
  .nav, li {
    margin-right: 100px;
  }
  .number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
  }
  h1 {
    margin-top: 50px;
  }
  .nav-transitioning {
    transform: none;
  }
  .hidden {
    position: absolute;
    display: flex;
  }
  .menu-toggle, .menu-close {
    display: none;
  }
  .navlinks-container {
    justify-content: flex-end;
    background-color: transparent;
    background: none;
  }
  .navlinks-container .fa-solid {
    position: absolute;
    color: #FFBA1F;
  }
  .logo {
    height: 0px;
    aspect-ratio: 1;
    margin-left: 0px;
    display: flex;
  }
  .logo2 {
    width: 200px;
    margin-right: 400px;
    margin-bottom: -20px;
  }
  .nav-logo {
    display: block;
    margin-top: 0;
    margin-right: auto;
  }
  .nav-logo img {
    display: block;
    width: 100%;
  }
  .number2 {
    margin-left: 30px;
  }
  .container {
    margin: auto;
    height: auto;
  }
  .container #zise {
    font-size: 3em;
    padding-right: 30%;
    padding-bottom: 15%;
  }
  #title2 {
    color: rgb(128, 128, 128);
    font-size: 30px;
    padding: 125px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 0.25em;
  }
  #jumbotrom {
    height: 170%;
  }
  #title1 {
    font-size: 80px;
  }
  #title1 .color1 {
    font-size: 150%;
    padding-left: 100px;
    margin-right: 130px;
  }
  .content1 {
    padding: 150px;
  }
  .content1 h2 {
    font-size: 3.5em;
  }
  .content1 p {
    font-size: 1.5em;
    padding-left: 150px;
    padding-right: 150px;
  }
  .content-down {
    font-size: 1.5em;
    padding-left: 150px;
    padding-right: 150px;
  }
  #back2 {
    padding-left: 170px;
    padding-right: 60%;
  }
  .about {
    display: flex;
    padding: 100px;
  }
  .about .about-title {
    font-size: 2em;
  }
  .about .about-text {
    font-size: 1.3em;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
  }
  .carousel {
    overflow: hidden;
  }
  .arrow-left, .arrow-right {
    padding: 15px;
    font-size: 55px;
    height: 100%;
    z-index: 4;
    cursor: pointer;
  }
  .arrow-left {
    left: 5%;
    color: #091F44;
    margin-top: 280px;
    width: 50px;
    height: 100px;
  }
  .arrow-right {
    right: 5%;
    color: #091F44;
    margin-top: 280px;
    width: 50px;
    height: 100px;
  }
  .arrow-right:hover {
    background-color: #425f91;
    opacity: 0.5;
    color: white;
    transition: 0.7s;
  }
  .arrow-left:hover {
    background-color: #425f91;
    opacity: 0.5;
    color: white;
    transition: 0.7s;
  }
  .carousel-frame {
    display: flex;
    width: 650%;
  }
  .carousel-element {
    display: flex;
    padding: 0px 2%;
    margin-right: 100px;
  }
  .carousel-element img {
    display: block;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 70%;
    margin: 0 auto;
  }
  .carr-pos-1 {
    transform: translateX(0);
  }
  .carr-pos-2 {
    transform: translateX(-16.6666666667%);
  }
  .carr-pos-3 {
    transform: translateX(-33.3333333333%);
  }
  .carr-pos-4 {
    transform: translateX(-50%);
  }
  .carr-pos-5 {
    transform: translateX(-66.6666666667%);
  }
  .carr-pos-6 {
    transform: translateX(-83.3333333333%);
  }
  .dotsContainer {
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translate(-50%);
  }
  .dotsContainer .dot {
    width: 25px;
    height: 25px;
    margin: 30px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dotsContainer .active {
    background-color: #FFBA1F;
  }
  #about-content {
    display: flex;
    flex-direction: row;
    padding: 100px;
  }
  .mision, .vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mision div, .vision div {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    justify-content: center;
  }
  h4 {
    font-size: 2.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 40px;
  }
  .misiontext {
    text-align: center;
  }
  .content-section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }
  .textsection {
    padding-left: 150px;
    padding-right: 150px;
    text-align: left;
  }
  .contact-title, a {
    color: rgb(194, 193, 193);
  }
  .contact {
    padding-top: 9px;
    text-align: left;
  }
  .copy, .content-politic {
    font-size: 2em;
    padding-left: 155px;
  }
  .contact-link {
    padding-right: 50px;
  }
  .whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .whatsapp-btn {
    width: 60px;
    height: 150px;
    border-radius: 50%;
    font-size: 70px;
  }
}

/*# sourceMappingURL=styles.css.map */
