#jumbotrom {
  position: absolute;
  background-image: url("/assets/images/refineria1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  left: 0;
  top: 0;
  z-index: -99;
}

#jumbotrom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#back {
  background-image: url("/assets/images/world.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 100px;
  margin-top: 135%;
}

#back2 {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7)), url("/assets/images/petroleo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 120px;
  padding-left: 40px;
  padding-right: 60px;
}
