$offwhite: #eee8d6;
$darkblue: #091F44;
$darkblack: #1D1E21;
$yellow: #FFBA1F;
$gris: #464543;
$whitepure: #ffffff;
$grissolve: rgb(128, 128, 128);
$gradient: linear-gradient(to bottom, rgb(10,40,245), rgb(20,80,200));
$solveblue: #eaf1f3;
$bluemedium: #425f91;
$bluestrong: #020f25

