    #back {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%),
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%), url("./assets/images/world.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      padding-left: 40px;
      padding-right: 60px;
    }
    #back2 {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0,.7)), url("./assets/images/petroleo.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      padding-top: 150px;
      padding-bottom: 120px;
    }
    
